## Import and Setup Data Set

In [11]:
# import packages
import pandas as pd

In [7]:
# import data
df = pd.read_csv(r"SouthGermanCredit/SouthGermanCredit.asc", header=0, delimiter=r"\s+")

# inspect import
df.head()

,laufkont,laufzeit,moral,verw,hoehe,sparkont,beszeit,rate,famges,buerge,...,verm,alter,weitkred,wohn,bishkred,beruf,pers,telef,gastarb,kredit
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1

In [10]:
# remap columns from German to English
englishCols = {
    "laufkont":"status",
    "laufzeit":"duration",
    "moral":"credit_history",
    "verw":"purpose",
    "hoehe":"amount",
    "sparkont":"savings",
    "beszeit":"employment_duration",
    "rate":"installment_rate",
    "famges":"personal_status_sex",
    "buerge":"other_debtors",
    "wohnzeit":"present_residence",
    "verm ":"property",
    "alter":"age",
    "weitkred":"other_installment_plans",
    "wohn":"housing",
    "bishkred":"number_credits",
    "beruf":"job",
    "pers":"people_liable",
    "telef":"telephone",
    "gastarb":"foreign_worker",
    "kredit":"credit_risk"
}

# apply rename in place
df.rename(columns=englishCols, inplace=True)

# check column rename
df.columns

Index(['status', 'duration', 'credit_history', 'purpose', 'amount', 'savings',
       'employment_duration', 'installment_rate', 'personal_status_sex',
       'other_debtors', 'present_residence', 'verm', 'age',
       'other_installment_plans', 'housing', 'number_credits', 'job',
       'people_liable', 'telephone', 'foreign_worker', 'credit_risk'],
      dtype='object')

## Exploratory Data Analysis