## Import and Setup Data Set

In [2]:
# import packages
import pandas as pd

In [3]:
# import data
df = pd.read_csv(r"SouthGermanCredit/SouthGermanCredit.asc", header=0, delimiter=r"\s+")

# inspect import
df.head()

,laufkont,laufzeit,moral,verw,hoehe,sparkont,beszeit,rate,famges,buerge,...,verm,alter,weitkred,wohn,bishkred,beruf,pers,telef,gastarb,kredit
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1

In [4]:
# remap columns from German to English
englishCols = {
    "laufkont":"status",
    "laufzeit":"duration",
    "moral":"credit_history",
    "verw":"purpose",
    "hoehe":"amount",
    "sparkont":"savings",
    "beszeit":"employment_duration",
    "rate":"installment_rate",
    "famges":"personal_status_sex",
    "buerge":"other_debtors",
    "wohnzeit":"present_residence",
    "verm ":"property",
    "alter":"age",
    "weitkred":"other_installment_plans",
    "wohn":"housing",
    "bishkred":"number_credits",
    "beruf":"job",
    "pers":"people_liable",
    "telef":"telephone",
    "gastarb":"foreign_worker",
    "kredit":"credit_risk"
}

# apply rename in place
df.rename(columns=englishCols, inplace=True)

# check column rename
df.columns

Index(['status', 'duration', 'credit_history', 'purpose', 'amount', 'savings',
       'employment_duration', 'installment_rate', 'personal_status_sex',
       'other_debtors', 'present_residence', 'verm', 'age',
       'other_installment_plans', 'housing', 'number_credits', 'job',
       'people_liable', 'telephone', 'foreign_worker', 'credit_risk'],
      dtype='object')

## Exploratory Data Analysis

In [6]:
# describe dataframe
df.describe().T

,count,mean,std,min,25%,50%,75%,max
status,1000.0,2.577,1.257638,1.0,1.0,2.0,4.00,4.0
duration,1000.0,20.903,12.058814,4.0,12.0,18.0,24.00,72.0
credit_history,1000.0,2.545,1.083120,0.0,2.0,2.0,4.00,4.0
purpose,1000.0,2.828,2.744439,0.0,1.0,2.0,3.00,10.0
amount,1000.0,3271.248,2822.751760,250.0,1365.5,2319.5,3972.25,18424.0
savings,1000.0,2.105,1.580023,1.0,1.0,1.0,3.00,5.0
employment_duration,1000.0,3.384,1.208306,1.0,3.0,3.0,5.00,5.0
installment_rate,1000.0,2.973,1.118715,1.0,2.0,3.0,4.00,4.0
personal_status_sex,1000.0,2.682,0.708080,1.0,2.0,3.0,3.00,4.0
other_debtors,1000.0,1.145,0.477706,1.0,1.0,1.0,1.00,3.0
present_residence,1000.0,2.845,1.103718,1.0,2.0,3.0,4.00,4.0
verm,1000.0,2.358,1.050209,1.0,1.0,2.0,3.00,4.0
age,1000.0,35.542,11.352670,19.0,27.0,33.0,42.00,75.0
other_installment_plans,1000.0,2.675,0.705601,1.0,3.0,3.0,3.00,3.0
housing,1000.0,1.928,0.530186,1.0,2.0,2.0,2.00,3.0
number_credits,1000.0,1.407,0.577654,1.0,1.0,1.0,2.00,4.0
job,1000.0,2.904,0.653614,1.0,3.0,3.0,3.00,4.0
people_liable,1000.0,1.845,0.362086,1.0,2.0,2.0,2.00,2.0
telephone,1000.0,1.404,0.490943,1.0,1.0,1.0,2.00,2.0
foreign_worker,1000.0,1.963,0.188856,1.0,2.0,2.0,2.00,2.0
credit_risk,1000.0,0.700,0.458487,0.0,0.0,1.0,1.00,1.0